{% extends 'base.html' %} {% block content %}

<div>
	<h2 class="text-center text-primary my-3">{{ title }}</h2>
	<hr />
	<form action="">
		{{ signup.hidden_tag() }}
		<div class="form-group mt-3">
			{{ signup.email.label(class='form-control-label  text-primary') }} {{
			signup.email(class='form-control form-control-lg') }}
		</div>
		<div class="form-group mt-3">
			{{ signup.password.label(class='form-control-label text-primary') }} {{
			signup.password(class='form-control form-control-lg') }}
		</div>
		<div class="form-group mt-3">
			{{ signup.confirm_password.label(class='form-control-label text-primary') }} {{
			signup.confirm_password(class='form-control form-control-lg') }}
		</div>
		<div class="mt-3">
			{{ signup.submit(class='btn btn-outline-primary')}}
		</div>
	</form>
</div>
<hr>
<div class="mt-3">
  <small class="text-muted">
    Already have an Account? <a class="ms-2" href={{url_for('auth.login')}}>Login</a>
  </small>
</div>

{% endblock %}
