{% extends 'base.html' %} {% block content %}

<h2 class="text-center">{{current_user.username}} Post's</h2>
<div class="d-flex justify-content-around flex-wrap">
	{% for pitch in pitches %}
	<div class="card border-dark mb-3" style="width: 30%;">
		<div class="card-header d-flex justify-content-between align-items-center">
			<h5>{{pitch.pitch_category}}</h5>
			<div class="btn-group">
				<button
					type="button"
					class="btn btn-sm btn-primary dropdown-toggle"
					data-bs-toggle="dropdown"
				></button>
				<ul class="dropdown-menu">
					<a href="/delete/{{pitch.id}}" class="dropdown-item">Delete</a>
				</ul>
			</div>
		</div>
		<div class="card-body">
			<div class="card-text">{{pitch.pitch}}</div>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}
